# --- IDE (Android Studio) ---
.idea/
*.iml
*.iws
*.ipr

# --- Gradle ---
**/.gradle/
**/build/
!gradle-wrapper.jar

# --- Локальные настройки ---
/local.properties

# --- Секреты и ключи ---
*.jks
*.keystore

# --- Сгенерированные артефакты ---
*.apk
*.aab
*.dex
*.class
bin/
gen/

# --- Kotlin ---
.kotlin/

# --- Нативная сборка ---
.externalNativeBuild/
.cxx/
ndkBuild/

# --- Файлы ОС ---
.DS_Store
Thumbs.db

# --- Прочее ---
*.log
*.hprof
captures/
output-metadata.json